.section {
    background-color: #fff;
    border: 2px solid #E8E9EC;
    border-radius: 8px;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
}

.section-title {
    margin-bottom: 1rem;
}

/* smartphones */
@media (max-width: 576px) {
    .section {
        padding: 1rem;
    }
}