<app-default-layout>
  @if (turma) {
    <app-section>
      <h2>Turma {{ turma.nome }}</h2>
      <p>{{ turma.serieAno }} | {{ turma.turno }}</p>

      <div class="lista-alunos">
        <h3>Lista de Alunos</h3>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data de Nascimento</th>
              <th>CPF</th>
              <th>Endereço</th>
              <th>Telefone</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            @for (aluno of turma.alunos; track aluno.id) {
              <tr>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.dataNascimento | date: "dd/MM/yyyy" }}</td>
                <td>{{ aluno.cpf }}</td>
                <td>
                  <p>
                    {{ aluno.endereco?.logradouro }},
                    {{ aluno.endereco?.numero }}
                  </p>
                  <p>{{ aluno.endereco?.bairro }}</p>
                  <p>
                    {{ aluno.endereco?.cidade }} - {{ aluno.endereco?.estado }}
                  </p>
                  <p>{{ aluno.endereco?.complemento }}</p>
                  <p>{{ aluno.endereco?.cep }}</p>
                </td>
                <td>{{ aluno.telefone }}</td>
                <td>{{ aluno.usuario.email }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </app-section>
  }
</app-default-layout>
