.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
    grid-auto-columns: 1fr;
    gap: 1.5rem;
    margin-top: 1rem;
}

.card {
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    transition: all 500ms ease-out;
}

.card-header {
    background-color: rgb(97, 97, 253);
    height: 7rem;
    border-radius: 10px;
}

.card-body {
    padding: 1.5rem;
}

.card-class-name {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: var(--font-md);
    margin-bottom: 0.5rem;
}

.card-teacher {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--font-sm);
}

