<app-default-layout>
  <app-section title="Turmas">
    <a [routerLink]="['/admin/turmas/criar']" class="cadastro-turma-btn">
      Cadastrar nova turma
    </a>

    <table class="matricula-table">
      <thead class="matricula-table-head">
        <tr>
          <th>Nome</th>
          <th>Série</th>
          <th>Turno</th>
          <th>Alunos</th>
          <th [colSpan]="2"></th>
        </tr>
      </thead>
      <tbody class="matricula-table-body">
        @for (turma of turmas; track turma.id) {
          <tr>
            <td>{{ turma.nome }}</td>
            <td>{{ turma.serieAno }}</td>
            <td>{{ turma.turno }}</td>
            <td>
              <a [routerLink]="['/admin/turmas', turma.id]">Lista de Alunos</a>
            </td>
            <td>
              <button>Editar</button>
            </td>
            <td>
              <button>Deletar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </app-section>
</app-default-layout>
