.default-layout {
  display: grid;
  grid-template-columns: 1fr;
}

.default-layout-main {
  padding: 1rem;
}

/* telas com largura maior ou igual a 992px */
@media (min-width: 62rem) {
  .default-layout {
    grid-template-columns: 16rem 1fr;
  }
}
