.default-layout {
    display: grid;
    grid-template-columns: 16rem 1fr;
}

.default-layout-main {
    padding: 1rem;
}

/* desktops pequenos */
@media (max-width: 1200px) {
    .default-layout {
        grid-template-columns: 1fr;
    }
}