<p class="current-day">
  @if (scheduleList) {
  {{ scheduleList[0].diaSemana }}
  }
</p>

<table class="calendar">
  <thead>
    <tr class="calendar-head">
      <th scope="col">
        <div>
          <mat-icon
            aria-hidden="false"
            aria-label="Avaliações Icon"
            fontIcon="schedule"
          ></mat-icon>
          Horário
        </div>
      </th>

      @if (!noClassHeader) {
      <th scope="col">
        <div>
          <mat-icon
            aria-hidden="false"
            aria-label="Avaliações Icon"
            fontIcon="book"
          ></mat-icon>
          Disciplina
        </div>
      </th>
      }

      <th scope="col">
        <div>
          <mat-icon
            aria-hidden="false"
            aria-label="Avaliações Icon"
            fontIcon="people"
          ></mat-icon>
          Professor(a)
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (schedule of scheduleList; track schedule.id) {
    <tr class="calendar-body-row">
      <th scope="row" class="calendar-schedule">
        {{ schedule?.horarioInicial }} - {{ schedule?.horarioFinal }}
      </th>

      @if (!noClassHeader) {
      <td class="calendar-class">
        {{ schedule?.disciplina?.nome }}
      </td>
      }

      <td class="calendar-teacher">
        {{ schedule?.disciplina?.professor?.nome }}
      </td>
    </tr>
    }
  </tbody>
</table>
