<app-default-layout>
  <app-section title="Diário | Registro de frequências">
    <div class="turmas-buttons">
      @for (turma of turmas; track turma.id) {
        <button
          [class.active]="activeTab === turma.id"
          (click)="enableTab(turma.id)"
        >
          {{ turma.nome }} {{ turma.serieAno }} | {{ turma.turno }}
        </button>
      }
    </div>

    <div class="options-buttons">
      <button [class.active]="listagem" (click)="enableListagem()">
        Listagem de frequências
      </button>
      <button [class.active]="registro" (click)="enableRegistro()">
        Registrar frequência de hoje
      </button>
    </div>

    @if (listagem) {
      <table class="matricula-table">
        <thead class="matricula-table-head">
          <tr>
            <th>Aluno</th>
            <th>Disciplina</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Presente?</th>
          </tr>
        </thead>
        <tbody class="matricula-table-body">
          <tr>
            <td>Marcele</td>
            <td>Matemática</td>
            <td>12/10/2024</td>
            <td>10:30</td>
            <td>Sim</td>
          </tr>
        </tbody>
      </table>
    }

    @if (registro) {
      <div class="input-group">
        <label for="titulo">Disciplina</label>
        <select name="presente" id="presente">
          <option value="sim">Matemática</option>
          <option value="sim">Geografia</option>
        </select>
      </div>

      <table class="matricula-table">
        <thead class="matricula-table-head">
          <tr>
            <th>Aluno</th>
            <th>Presente?</th>
          </tr>
        </thead>
        <tbody class="matricula-table-body">
          <tr>
            <td>Marcele</td>
            <td>
              <input type="checkbox" name="presente" id="presente" />
            </td>
          </tr>
        </tbody>
      </table>
    }
  </app-section>
</app-default-layout>
