<app-default-layout>
  <app-section title="Matrículas">
    <a routerLink="nova-matricula" class="nova-matricula-btn"
      >Abrir nova matrícula</a
    >

    <table class="matricula-table">
      <thead class="matricula-table-head">
        <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>CPF</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th [colSpan]="2"></th>
        </tr>
      </thead>
      <tbody class="matricula-table-body">
        @for (matricula of matriculas; track matricula.id) {
        <tr>
          <td>{{ matricula.nome }}</td>
          <td>{{ matricula.dataNascimento | date : "dd/MM/yyyy" }}</td>
          <td>{{ matricula.cpf }}</td>
          <td>
            <p>{{ matricula.endereco?.logradouro }}, {{ matricula.endereco?.numero }}</p> 
            <p>{{ matricula.endereco?.bairro}}</p>
            <p>{{ matricula.endereco?.cidade }} - {{ matricula.endereco?.estado }}</p>
            <p>{{ matricula.endereco?.complemento}}</p>
            <p>{{ matricula.endereco?.cep}}</p>
          </td>
          <td>{{ matricula.telefone }}</td>
          <td>{{ matricula.usuario.email }}</td>
          <td>
            <a [routerLink]="['/admin/matriculas/editar', matricula.id]">Editar</a>
          </td>
          <td>
            <button (click)="handleDelete(matricula.usuario.id)">Deletar</button>
          </td>
        </tr>
        }
        <tr></tr>
      </tbody>
    </table>
  </app-section>
</app-default-layout>
