<app-default-layout>
  <app-section title="Matemática">
    <div class="subject-teacher">
      <mat-icon
        aria-hidden="false"
        aria-label="User Icon"
        fontIcon="person"
      ></mat-icon>
      <p>Prof. Carlos</p>
    </div>

    <div class="subject-content-grid">
      <div class="subject-schedule">
        <h3 class="subject-section-title">Horários</h3>
        <div class="subject-schedule-group">
          <!-- <app-schedule [weekSchedule]="scheduleMockBySubject" />
          <app-schedule [weekSchedule]="scheduleMockBySubject" />
          <app-schedule [weekSchedule]="scheduleMockBySubject" /> -->
        </div>
      </div>

      <div class="subject-upcoming-exams">
        <h3 class="subject-section-title">Próximas avaliações</h3>

        <div class="exam">
          <div class="exam-date">
            <p>10 de Setembro</p>
            <p>9h</p>
          </div>
          <div class="exam-type">
            <p>Prova</p>
          </div>
        </div>

        <div class="exam">
          <div class="exam-date">
            <p>20 de Setembro</p>
            <p>8h</p>
          </div>
          <div class="exam-type">
            <p>Entrega de Projeto</p>
          </div>
        </div>
      </div>

      <div class="subject-attendance">
        <h3 class="subject-section-title">Frequência</h3>
        <p>100%</p>
      </div>
    </div>
  </app-section>
</app-default-layout>
