<app-default-layout>
  <app-section title="Perfil do Aluno">
    <div class="section-inner">
      <p><strong>Nome completo</strong>: Marcele Monteiro</p>
      <p><strong>CPF</strong>: 111.111.111-11</p>
      <p><strong>Data de nascimento</strong>: 21/04/2000</p>
      <p><strong>Matrícula</strong>: 123456</p>
      <p><strong>Série</strong>: 9</p>
      <p>
        <strong>Endereço</strong>: CEP 222888-000 Rua A, 555 - Bairro M, Rio de
        Janeiro
      </p>
      <p><strong>Email</strong>: <code>marcele&#64;gmail.com</code></p>
      <p><strong>Telefone</strong>: (21) 999029-0909</p>
    </div>
  </app-section>
</app-default-layout>
