<app-default-layout>
  <app-section title="Perfil do Aluno">
    <div class="section-inner">
      @if (user) {
      <p><strong>Nome completo</strong>: {{ user.nome }}</p>
      <p><strong>CPF</strong>: {{ user.cpf }}</p>
      <p>
        <strong>Data de nascimento</strong>:
        {{ user.dataNascimento | date : "dd/MM/yyyy" }}
      </p>
      <p><strong>Matrícula</strong>: {{ user.matricula.status }}</p>
      <p><strong>Série</strong>: {{ user.serieAno }}</p>
      <p><strong>Endereço</strong>: {{ user.endereco }}</p>
      <p>
        <strong>Email</strong>: <code>{{ user.email }}</code>
      </p>
      <p><strong>Telefone</strong>: {{ user.telefone }}</p>
      }
    </div>
  </app-section>
</app-default-layout>
