<app-default-layout>
    <app-section title="Disciplinas">
        <div class="cards-grid">
            <app-subject-card [subjectId]="1" subjectName="Matemática" teacherName="Prof. Carlos" />
            <app-subject-card [subjectId]="1" subjectName="Português" teacherName="Prof.ª Ana" />
            <app-subject-card [subjectId]="1" subjectName="Ciências" teacherName="Prof.ª Julia" />
            <app-subject-card [subjectId]="1" subjectName="História" teacherName="Prof. Pedro" />
            <app-subject-card [subjectId]="1" subjectName="Educação Física" teacherName="Prof. Roberto" />
        </div>
    </app-section>
</app-default-layout>