.notice-header {
  margin-bottom: 1rem;
}

.notice-header p {
  font-size: var(--font-sm);
}

.notice-remetente {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 1.5rem 0;
}

.notice-read-btn,
.notice-not-read-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
