<app-default-layout>
  <app-section title="Avaliações">
    <a
      [routerLink]="['/professor/avaliacoes/criar']"
      class="cadastro-turma-btn"
    >
      Criar avaliação
    </a>

    <div class="exam-options">
      <button
        [class.active]="activeTab === 'esperando'"
        (click)="enableEsperandoCorrecao()"
      >
        Avaliações esperando correção
      </button>
      <button
        [class.active]="activeTab === 'registradas'"
        (click)="enableRegistradas()"
      >
        Avaliações registradas
      </button>
      <button
        [class.active]="activeTab === 'concluidas'"
        (click)="enableConcluidas()"
      >
        Avaliações concluídas
      </button>
    </div>

    <table class="matricula-table">
      <thead class="matricula-table-head">
        <tr>
          <th>Título</th>
          <th>Status</th>
          <th>Turma</th>
          <th>Data de início</th>
          <th>Data de término</th>
          <th [colSpan]="activeTab === 'esperando' ? 3 : 2"></th>
        </tr>
      </thead>
      <tbody class="matricula-table-body">
        @for (avaliacao of avaliacoesFiltrada; track avaliacao.id) {
          <tr>
            <td>{{ avaliacao.titulo }}</td>
            <td>{{ avaliacao.status }}</td>
            <td>
              {{ avaliacao.disciplina.turma.nome }}
              {{ avaliacao.disciplina.turma.serieAno }}
              {{ avaliacao.disciplina.turma.turno }}
            </td>
            <td>{{ avaliacao.dataInicio }}</td>
            <td>{{ avaliacao.dataTermino }}</td>
            @if (activeTab === "esperando") {
              <td class="link-registro-notas">
                <a [routerLink]="['nota', avaliacao.id]">Registrar notas</a>
              </td>
            }
            <td>
              <a [routerLink]="['editar', avaliacao.id]">Editar</a>
            </td>
            <td>
              <button type="button" (click)="handleDeleteExam(avaliacao.id)">
                Deletar
              </button>
            </td>
          </tr>
        }
        <tr></tr>
      </tbody>
    </table>
  </app-section>
</app-default-layout>
