<div class="navbar">
    <div class="navbar-header">
        <div class="navbar-user">
            <p>Marcele Monteiro</p>
            <span>Aluno</span>
        </div>
    </div>
    <nav class="navbar-nav">
        <ul>
            <li>
                <a routerLink="/home">
                    <mat-icon aria-hidden="false" aria-label="Dashboard Icon" fontIcon="dashboard"></mat-icon>
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink="/horarios">
                    <mat-icon aria-hidden="false" aria-label="Horários Icon" fontIcon="calendar_today"></mat-icon>
                    Horários
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <mat-icon aria-hidden="false" aria-label="Disciplinas Icon" fontIcon="book"></mat-icon>
                    Disciplinas
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <mat-icon aria-hidden="false" aria-label="Avaliações Icon" fontIcon="bookmark"></mat-icon>
                    Avaliações
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <mat-icon aria-hidden="false" aria-label="Fóruns Icon" fontIcon="chat"></mat-icon>
                    Fóruns
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <mat-icon aria-hidden="false" aria-label="Secretaria Icon" fontIcon="info"></mat-icon>
                    Secretaria
                </a>
            </li>
            <li>
                <button (click)="logout()">
                    <mat-icon aria-hidden="false" aria-label="Sair Icon" fontIcon="logout"></mat-icon>
                    Sair
                </button>
            </li>
        </ul>
    </nav>
</div>