<div class="navbar">
    <div class="navbar-header">
        <div class="navbar-user">
            <p>Marcele Monteiro</p>
            <span>Aluno</span>
        </div>
    </div>
    <nav class="navbar-nav">
        <ul>
            <li><a routerLink="/horarios">Horários</a></li>
            <li><a routerLink="/">Disciplinas</a></li>
            <li><a routerLink="/">Avaliações</a></li>
            <li><a routerLink="/">Fóruns</a></li>
            <li><a routerLink="/">Secretaria</a></li>
        </ul>
    </nav>
</div>
