.navbar {
  background-color: #fff;
  border-right: 2px solid var(--cinza-a);
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.2rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--box-shadow-1);
  border-radius: 1.75rem;
  cursor: pointer;
}

.navbar-header:hover {
  background-color: var(--cinza-azulado);
  transition: background-color 200ms ease-in-out;
}

.navbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-avatar.aluno {
  background-color: var(--azul-1);
}

.navbar-avatar.professor {
  background-color: var(--laranja-1);
}

.navbar-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-mobile-btn {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar-mobile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: var(--azul-1);
}

.navbar-nav {
  display: none;
  margin: 1rem;
}

.navbar-nav.openMobileNav {
  display: block;
}

.navbar-nav ul li a,
.navbar-nav ul li button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.5rem;
  color: var(--cinza-11);
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.navbar-nav ul li a:hover,
.navbar-nav ul li button:hover {
  color: var(--azul-1);
  background-color: var(--cinza-azulado);
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
}

.navbar-nav ul li a.active {
  box-shadow: var(--box-shadow-2);
}

.navbar-nav ul li a.active,
.navbar-nav ul li a.active .nav-icon {
  color: var(--azul-1);
  background-color: var(--cinza-azulado);
  border-radius: 8px;
}

.navbar-nav ul li:nth-child(6) {
  border-top: 2px solid var(--cinza-a);
  padding-top: 0.5rem;
}

/* telas com largura maior ou igual a 992px */
@media (min-width: 62rem) {
  .navbar {
    width: 16rem;
    height: 100vh;
    position: fixed;
  }

  .navbar-header {
    justify-content: start;
    gap: 1rem;
  }

  .navbar-mobile-btn {
    display: none;
  }

  .navbar-nav {
    display: block;
  }
}
