<app-default-layout>
  <app-section title="Todos os avisos">
    @if (currentUser && currentUser.usuario.role === 'PROFESSOR') {
    <a routerLink="/avisos/criar" class="create-notice-btn"> Criar aviso </a>
    }
    <!--  -->
    @for (notice of notices; track notice.id) {
    <app-notice
      [id]="notice.id"
      [title]="notice.titulo"
      [date]="notice.dataEnvio"
      [author]="notice.professor.nome"
      [isNew]="notice.statusLeitura === 'LIDO' ? false : true"
      (delete)="onDeletedNotice($event)"
    />
    }
  </app-section>
</app-default-layout>
