.dashboard {
  display: grid;
  gap: 0.5rem;
}

.dashboard-section {
  background-color: #fff;
  border: 2px solid #e8e9ec;
  border-radius: 8px;
  padding: 1rem 2rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header a {
  padding: 0.5rem 1rem;
  background-color: var(--laranja-1);
  color: var(--laranja-2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.section-header a:hover {
  background-color: var(--laranja-3);
  transition: all 200ms ease-in-out;
}

.schedule {
  width: 100%;
  overflow-x: scroll;
}

.all-notices-link {
  padding: 1rem 0;
}

.all-notices-link a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* Telas com larguras maiores ou iguais a 1200px */
@media (min-width: 75rem) {
  .dashboard {
    grid-template-columns: 1.5fr 1fr;
  }
}
