<app-default-layout>
  <main class="dashboard">
    <section class="dashboard-section schedule">
      <h2>Horários</h2>
      <app-schedule [weekSchedule]="scheduleMock" />
    </section>

    <section class="dashboard-section">
      <h2>Avisos</h2>
      @for (notice of notices; track notice.id) {
      <app-notice
        [id]="notice.id"
        [title]="notice.titulo"
        [date]="notice.dataEnvio"
        [author]="notice.remetente.nome"
        [isNew]="notice.statusLeitura === 'LIDO' ? false : true"
      />
      }

      <div class="all-notices-link">
        <a routerLink="/avisos">Ver todos os avisos</a>
      </div>
    </section>
  </main>
</app-default-layout>
