<app-default-layout>
  <main class="dashboard">
    <section class="dashboard-section schedule">
      <h2>Horários</h2>
      <app-schedule [weekSchedule]="scheduleMock" />
    </section>

    <section class="dashboard-section">
      <h2>Avisos</h2>
      <app-notice
        id="111"
        title="Entrega das avaliações de matemática"
        date="Seg. 24 de setembro"
        author="Professor Billy"
        [isNew]="true"
      />

      <app-notice
        id="222"
        title="Entrega das avaliações de português"
        date="Seg. 20 de setembro"
        author="Professora Katyane"
      />

      <div class="all-notices-link">
        <a routerLink="/avisos">Ver todos os avisos</a>
      </div>
    </section>
  </main>
</app-default-layout>
