<app-default-layout>
  <main class="dashboard">
    <section class="dashboard-section schedule">
      <h2>Horários</h2>
      @if (calendarList) {
      <app-schedule [scheduleList]="calendarList" />
      } @else {
      <p>Nada para hoje 😄</p>
      }
    </section>

    <section class="dashboard-section">
      <div class="section-header">
        <h2>Avisos</h2>
        @if (currentUser && currentUser.usuario.role === 'PROFESSOR') {
        <a routerLink="/avisos/criar"> Criar aviso </a>
        }
      </div>

      @for (notice of notices; track notice.id) {
      <app-notice
        [id]="notice.id"
        [title]="notice.titulo"
        [date]="notice.dataEnvio"
        [author]="notice.professor.nome"
        [isNew]="notice.statusLeitura === 'LIDO' ? false : true"
        (delete)="onDeletedNotice($event)"
      />
      }
      <!--  -->
      @if (isNoticesSliced) {
      <div class="all-notices-link">
        <a routerLink="/avisos">Ver todos os avisos</a>
      </div>
      }
    </section>
  </main>
</app-default-layout>
