<div class="loginWrapper">
  <form (ngSubmit)="handleSubmit()" class="loginForm">
    <h1>Login</h1>

    <input
      type="text"
      placeholder="Usuário"
      name="username"
      [(ngModel)]="username"
    />

    <input
      type="password"
      placeholder="Senha"
      name="password"
      [(ngModel)]="password"
    />

    <button type="submit">Entrar</button>

    @if (loginError) {
    <!-- TODO: Criar sistema ou componente para erros -->
    <p class="errorMessage">Usuário ou senha inválidos.</p>
    }
  </form>
</div>
