<app-default-layout>
  <app-section title="Fórum de Biologia">
    <!-- <app-forum id="333" title="Fórum de biologia" [newUpdatesNumber]="5" lastUpdate="21 de setembro às 14:20" [postsNumber]="5"
        [commentsNumber]="5" /> -->

    <p class="forum-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec
      nulla sed nulla pulvinar bibendum. Mauris luctus elit vitae massa mollis
      convallis. Integer consequat diam ac vulputate sollicitudin. Mauris sed
      egestas diam. Etiam hendrerit, ex in ornare viverra, nisi felis interdum
      mauris, quis commodo dolor justo sed dolor.
    </p>

    <div class="forum-tags">
      <p>Matemática</p>
      <p>Raciocínio lógico</p>
    </div>

    <div class="forum-section">
      <h3>Adicionar comentário</h3>

      <div class="forum-add-comment">
        <textarea name="" id="" rows="5"></textarea>
        <button type="submit">Enviar</button>
      </div>
    </div>

    <div class="forum-section">
      <h3>Postagens</h3>

      <div class="forum-posts">
        <div class="forum-post">
          <div class="forum-post-user">
            <div class="forum-post-avatar">
              <!-- avatar -->
            </div>
            <div>
              <p>Marcele Monteiro</p>
              <span>Aluno</span>
            </div>
          </div>

          <p class="forum-post-comment">
            Mauris luctus elit vitae massa mollis convallis. Integer consequat
            diam ac vulputate sollicitudin. Mauris sed egestas diam. Etiam
            hendrerit, ex in ornare viverra, nisi felis interdum mauris, quis
            commodo dolor justo sed dolor.
          </p>

          <div class="forum-post-options">
            <button type="button" class="option-reply">
              <mat-icon
                aria-hidden="false"
                aria-label="Reply Icon"
                fontIcon="reply"
              ></mat-icon>
              Responder
            </button>

            <button type="button" class="option-show-comments">
              <mat-icon
                aria-hidden="false"
                aria-label="Reply Icon"
                fontIcon="question_answer"
              ></mat-icon>
              Ver comentários
            </button>
          </div>
        </div>

        <div class="forum-post">
          <div class="forum-post-user">
            <div class="forum-post-avatar">
              <!-- avatar -->
            </div>
            <div>
              <p>Marcele Monteiro</p>
              <span>Aluno</span>
            </div>
          </div>

          <p class="forum-post-comment">
            Mauris luctus elit vitae massa mollis convallis. Integer consequat
            diam ac vulputate sollicitudin. Mauris sed egestas diam. Etiam
            hendrerit, ex in ornare viverra, nisi felis interdum mauris, quis
            commodo dolor justo sed dolor.
          </p>

          <div class="forum-post-options">
            <button type="button" class="option-reply">
              <mat-icon
                aria-hidden="false"
                aria-label="Reply Icon"
                fontIcon="reply"
              ></mat-icon>
              Responder
            </button>

            <button type="button" class="option-show-comments">
              <mat-icon
                aria-hidden="false"
                aria-label="Reply Icon"
                fontIcon="question_answer"
              ></mat-icon>
              Ver comentários
            </button>
          </div>
        </div>
      </div>
    </div>
  </app-section>
</app-default-layout>
