<app-default-layout>
  <app-section title="Disciplinas">
    <a [routerLink]="['/admin/disciplinas/criar']" class="cadastro-turma-btn">
      Cadastrar nova turma
    </a>

    <table class="matricula-table">
      <thead class="matricula-table-head">
        <tr>
          <th>Nome</th>
          <th>Turma</th>
          <th>Professor</th>
          <th [colSpan]="2"></th>
        </tr>
      </thead>
      <tbody class="matricula-table-body">
        @for (disciplina of disciplinas; track disciplina.id) {
          <tr>
            <td>{{ disciplina.nome }}</td>
            <td>{{ disciplina.turma.nome }}</td>
            <td>{{ disciplina.professor.nome }}</td>
            <td>
              <a [routerLink]="['/admin/disciplinas/editar', disciplina.id]">
                Editar
              </a>
            </td>
            <td>
              <button (click)="handleDeleteDisciplina(disciplina.id)">
                Deletar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </app-section>
</app-default-layout>
